.toolbar {
	background-color: #c6c6c6;
	height: 50px;
	padding: 10px;
}
.toolbar-item {
	display: inline-block;
	height: 50px;
	width: 50px;
	background-color: Blue;
	margin-left: 5px;
}
.active {
	background-color: Yellow;
}
.disabled {
	background-color: Gray;
}